<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>AlfaSlabOne-Regular.ttf</string>
		<string>cheltenham-normal-300.ttf</string>
		<string>K22 Karnak Deco.ttf</string>
		<string>Franklin-Normal-700.ttf</string>
		<string>Karnak-Condensed-Normal-700.ttf</string>
		<string>Chomsky.otf</string>
	</array>
</dict>
</plist>
